Repository Sybit-Education/Diveni, pull requests merged in 2023-12, with the labels that each got.

#505 Migrate to Vue 3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/style/_variables.scss
  frontend/src/assets/style/main.scss
  frontend/src/components/AnalyticsDataComponent.vue
  frontend/src/components/CardSetComponent.vue
  frontend/src/components/CarouselComponent.vue
  frontend/src/components/CopySessionIdPopup.vue
  frontend/src/components/EstimateTimer.vue
  frontend/src/components/FeedbackButton.vue
  frontend/src/components/JiraComponent.vue
  frontend/src/components/JoinPageCard.vue
  frontend/src/components/KickUserWrapper.vue
  frontend/src/components/LandingPageCard.vue
  frontend/src/components/MarkdownEditor.vue
  frontend/src/components/MemberVoteCard.vue
  frontend/src/components/MobileStoryList.vue
  frontend/src/components/MobileStoryTitle.vue
  frontend/src/components/NotifyHostComponent.vue
  frontend/src/components/NotifyMemberComponent.vue
  frontend/src/components/ProjectSelectionComponent.vue
  frontend/src/components/RoundedAvatar.vue
  frontend/src/components/SessionAdminCard.vue
  frontend/src/components/SessionMemberCard.vue
  frontend/src/components/SignInWithAzureDevOpsButtonComponent.vue
  frontend/src/components/SignInWithJiraButtonComponent.vue
  frontend/src/components/SignInWithJiraCloudButtonComponent.vue
  frontend/src/components/SignInWithJiraServerButtonComponent.vue
  frontend/src/components/StoryPointsComponent.vue
  frontend/src/components/UiToastEditorWrapper.vue
  frontend/src/components/UserStories.vue
  frontend/src/components/UserStoryComponent.vue
  frontend/src/components/UserStoryDescriptions.vue
  frontend/src/components/UserStorySum.vue
  frontend/src/components/actions/SessionCloseButton.vue
  frontend/src/components/actions/SessionLeaveButton.vue
  frontend/src/components/actions/SessionStartButton.vue
  frontend/src/components/actions/ThemeToggle.vue
  frontend/src/components/navigation/FooterBar.vue
  frontend/src/components/navigation/LocaleDropdown.vue
  frontend/src/components/navigation/TopNavigationBar.vue
  frontend/src/i18n.ts
  frontend/src/interceptors.ts
  frontend/src/main.ts
  frontend/src/model/Notification.ts
  frontend/src/model/Session.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue.d.ts
  frontend/src/store/index.ts
  frontend/src/views/AboutPage.vue
  frontend/src/views/JiraCallbackPage.vue
  frontend/src/views/JoinPage.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/PrepareSessionPage.vue
  frontend/src/views/ResultPage.vue
  frontend/src/views/SessionPage.vue
  frontend/src/views/WhatsNewPage.vue
  frontend/vue.config.js
Labels: frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#557 Carousel redirects to connector documentation
  docs/guide.md
  docs/guide/connectors/azureDevOps.md
  docs/guide/connectors/github.md
  docs/guide/connectors/gitlab.md
  docs/guide/connectors/jiraCloud.md
  docs/guide/connectors/jiraServer.md
  docs/img/jira/jira_cloud_step1.png
  docs/img/jira/jira_cloud_step10.png
  docs/img/jira/jira_cloud_step2.png
  docs/img/jira/jira_cloud_step3.png
  docs/img/jira/jira_cloud_step4.png
  docs/img/jira/jira_cloud_step4_warning.png
  docs/img/jira/jira_cloud_step5.png
  docs/img/jira/jira_cloud_step6.png
  docs/img/jira/jira_cloud_step7.png
  docs/img/jira/jira_cloud_step8.png
  docs/img/jira/jira_cloud_step9.png
  frontend/src/components/CarouselComponent.vue
Labels: documentation, frontend

#577 Fix: Markdown Editor updates on every input #560
  frontend/src/components/UiToastEditorWrapper.vue
Labels: bug, frontend

#568 Fix: Admins can no longer kick members #562
  frontend/src/components/KickUserWrapper.vue
Labels: bug, frontend

#564 fix: HostVoting Bug #555
  backend/src/main/java/io/diveni/backend/config/RestTemplateConfig.java
  backend/src/main/java/io/diveni/backend/controller/ErrorMessages.java
  backend/src/main/java/io/diveni/backend/controller/NewsController.java
  backend/src/main/java/io/diveni/backend/model/Session.java
  backend/src/main/java/io/diveni/backend/model/news/PullRequest.java
  backend/src/main/java/io/diveni/backend/service/WebSocketService.java
  backend/src/main/java/io/diveni/backend/service/news/GithubApiService.java
  backend/src/test/java/io/diveni/backend/controller/NewsControllerTest.java
  backend/src/test/java/io/diveni/backend/model/news/PullRequestTest.java
Labels: bug, java, backend

#575 Fix: Members no longer receive information about whether the admin is in the session or not #563
  frontend/src/components/NotifyMemberComponent.vue
Labels: bug, frontend

#576 Fix: Project Selection Component clickable only after input #561
  frontend/src/components/ProjectSelectionComponent.vue
Labels: bug, frontend

#582 fix: selecting stories resulting in an error
  frontend/src/components/UserStories.vue
Labels: bug, frontend
