Repository Sybit-Education/Diveni, pull requests merged in 2023-06, with the labels that each got.

#286 #284 Console error when creating a new session with user stories
  frontend/src/components/MarkdownEditor.vue
Labels: bug, frontend

#292 fix: swagger documentation (#285)
  backend/src/main/resources/application-prod.properties
  proxy/nginx.conf.template
Labels: bug

#272 Feature/209 configuration setup
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  backend/.env.example
  backend/src/main/java/io/diveni/backend/controller/ConfigController.java
  backend/src/main/java/io/diveni/backend/controller/ProjectManagementController.java
  backend/src/main/java/io/diveni/backend/service/projectmanagementproviders/ProjectManagementProvider.java
  backend/src/main/java/io/diveni/backend/service/projectmanagementproviders/azuredevops/AzureDevOpsService.java
  backend/src/main/java/io/diveni/backend/service/projectmanagementproviders/jiracloud/JiraCloudService.java
  backend/src/main/java/io/diveni/backend/service/projectmanagementproviders/jiraserver/JiraServerService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/io/diveni/backend/controller/ConfigControllerTest.java
  backend/src/test/resources/application-test.properties
  docs/guide/architecture.md
  docs/guide/develop.md
  docs/guide/install.md
  frontend/.env
  frontend/.env.development
  frontend/src/components/JiraComponent.vue
  frontend/src/components/SignInWithJiraCloudButtonComponent.vue
  frontend/src/constants.ts
  frontend/src/i18n.ts
  frontend/src/services/api.service.ts
  frontend/src/views/PrepareSessionPage.vue
Labels: documentation, java, javascript, frontend, backend

#288 #287 logger throws error when closing the session
  .github/badges/jacoco.svg
  backend/src/main/java/io/diveni/backend/controller/WebsocketController.java
  frontend/src/components/actions/SessionLeaveButton.vue
  frontend/src/views/MemberVotePage.vue
Labels: bug, frontend, backend
