Repository Sybit-Education/Diveni, pull requests merged in 2023-11, with the labels that each got.

#503 Fix: button layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/style/_variables.scss
  frontend/src/assets/style/main.scss
  frontend/src/components/CardSetComponent.vue
  frontend/src/components/FeedbackButton.vue
  frontend/src/components/SignInWithJiraButtonComponent.vue
  frontend/src/components/SignInWithJiraServerButtonComponent.vue
  frontend/src/components/navigation/TopNavigationBar.vue
  frontend/src/views/PrepareSessionPage.vue
Labels: frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#269 #257 add an auto reveal checkbox, for the session admin
  .github/badges/branches.svg
  backend/build.gradle
  backend/src/main/java/io/diveni/backend/controller/WebsocketController.java
  backend/src/main/java/io/diveni/backend/service/WebSocketService.java
  backend/src/test/java/io/diveni/backend/controller/WebsocketControllerTest.java
  backend/src/test/java/io/diveni/backend/service/WebSocketServiceTest.java
  docs/guide/user.md
  docs/img/automatic_reveal.png
  frontend/src/components/actions/SessionStartButton.vue
  frontend/src/constants.ts
  frontend/src/locales/en.json
  frontend/src/store/index.ts
  frontend/src/types.ts
  frontend/src/views/JoinPage.vue
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/SessionPage.vue
Labels: frontend, backend

#510 Fix: Misalignment of the finish session button for the admin
  frontend/src/components/SignInWithJiraButtonComponent.vue
  frontend/src/components/SignInWithJiraServerButtonComponent.vue
  frontend/src/views/SessionPage.vue
Labels: bug, javascript, frontend

#489 484 diveni stat - draft
  backend/src/main/java/io/diveni/backend/controller/AnalyticsController.java
  backend/src/main/java/io/diveni/backend/controller/WebsocketController.java
  backend/src/main/java/io/diveni/backend/handler/SessionDisconnectedListener.java
  backend/src/main/java/io/diveni/backend/model/AnalyticsData.java
  backend/src/main/java/io/diveni/backend/model/Statistic.java
  backend/src/main/java/io/diveni/backend/repository/StatisticRepository.java
  backend/src/main/java/io/diveni/backend/service/DatabaseService.java
  backend/src/main/java/io/diveni/backend/service/WebSocketService.java
  backend/src/test/java/io/diveni/backend/controller/AnalyticsControllerTest.java
  frontend/src/components/AnalyticsDataComponent.vue
  frontend/src/services/api.service.ts
  frontend/src/views/SessionPage.vue
Labels: backend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#534 Fix: Dependabot fails formatting
  .github/workflows/backend.yaml
  backend/src/main/java/io/diveni/backend/controller/WebsocketController.java
  backend/src/main/java/io/diveni/backend/model/Statistic.java
  backend/src/main/java/io/diveni/backend/repository/StatisticRepository.java
  backend/src/main/java/io/diveni/backend/service/DatabaseService.java
  backend/src/test/java/io/diveni/backend/controller/AnalyticsControllerTest.java
Labels: bug, deployment

#426 409 whats new page
  backend/src/main/java/io/diveni/backend/config/RestTemplateConfig.java
  backend/src/main/java/io/diveni/backend/controller/ErrorMessages.java
  backend/src/main/java/io/diveni/backend/controller/NewsController.java
  backend/src/main/java/io/diveni/backend/model/news/PullRequest.java
  backend/src/main/java/io/diveni/backend/service/news/GithubApiService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/io/diveni/backend/controller/NewsControllerTest.java
  backend/src/test/java/io/diveni/backend/model/news/PullRequestTest.java
  backend/src/test/resources/application.properties
  frontend/src/components/navigation/FooterBar.vue
  frontend/src/constants.ts
  frontend/src/locales/en.json
  frontend/src/router/index.ts
  frontend/src/services/api.service.ts
  frontend/src/types.ts
  frontend/src/utils/dateUtil.ts
  frontend/src/views/WhatsNewPage.vue
Labels: userstory, java, javascript, frontend, backend, feature request, hacktoberfest, HACKTOBERFEST-ACCEPTED
