Repository Sybit-Education/Diveni, pull requests merged in 2023-10, with the labels that each got.

#350 Long Description ruins layout
  frontend/src/components/UserStoryDescriptions.vue
Labels: javascript, frontend

#455 Feature: translations guide added
  docs/.vitepress/config.js
  docs/guide.md
  docs/guide/translations.md
  package-lock.json
  package.json
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#403 #402 User Story cannot be deleted immediately after creation
  frontend/src/locales/en.json
  frontend/src/views/SessionPage.vue
Labels: bug, javascript, frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#457 resolved lint issues
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/variables.css
  frontend/src/components/AnalyticsDataComponent.vue
  frontend/src/components/CardSetComponent.vue
  frontend/src/components/CopySessionIdPopup.vue
  frontend/src/components/EstimateTimer.vue
  frontend/src/components/JiraComponent.vue
  frontend/src/components/JoinPageCard.vue
  frontend/src/components/LandingPageCard.vue
  frontend/src/components/MarkdownEditor.vue
  frontend/src/components/MemberVoteCard.vue
  frontend/src/components/ProjectSelectionComponent.vue
  frontend/src/components/RoundedAvatar.vue
  frontend/src/components/SessionMemberCard.vue
  frontend/src/components/SignInWithAzureDevOpsButtonComponent.vue
  frontend/src/components/SignInWithJiraButtonComponent.vue
  frontend/src/components/SignInWithJiraCloudButtonComponent.vue
  frontend/src/components/SignInWithJiraServerButtonComponent.vue
  frontend/src/components/StoryPointsComponent.vue
  frontend/src/components/ThemeToggleComponent.vue
  frontend/src/components/UserStories.vue
  frontend/src/components/UserStoryComponent.vue
  frontend/src/components/UserStoryDescriptions.vue
  frontend/src/components/actions/SessionCloseButton.vue
  frontend/src/components/actions/SessionLeaveButton.vue
  frontend/src/components/actions/SessionStartButton.vue
  frontend/src/components/navigation/LocaleDropdown.vue
  frontend/src/components/navigation/TopNavigationBar.vue
  frontend/src/locales/en.json
  frontend/src/services/api.service.ts
  frontend/src/views/AboutPage.vue
  frontend/src/views/JoinPage.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/PrepareSessionPage.vue
  frontend/src/views/ResultPage.vue
  frontend/src/views/SessionPage.vue
  frontend/tsconfig.json
Labels: frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#482 improved dev guide
  docs/.vitepress/config.js
  docs/.vitepress/theme/custom.css
  docs/guide/develop.md
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#275 128 organizer would like to vote too
  backend/src/main/java/io/diveni/backend/controller/RoutesController.java
  backend/src/main/java/io/diveni/backend/controller/WebsocketController.java
  backend/src/main/java/io/diveni/backend/model/AdminVote.java
  backend/src/main/java/io/diveni/backend/model/Session.java
  backend/src/main/java/io/diveni/backend/service/WebSocketService.java
  backend/src/test/java/io/diveni/backend/controller/AnalyticsControllerTest.java
  backend/src/test/java/io/diveni/backend/controller/RoutesControllerTest.java
  backend/src/test/java/io/diveni/backend/controller/WebsocketControllerTest.java
  backend/src/test/java/io/diveni/backend/model/AdminVoteTest.java
  backend/src/test/java/io/diveni/backend/model/SessionTest.java
  backend/src/test/java/io/diveni/backend/repository/SessionRepositoryTest.java
  backend/src/test/java/io/diveni/backend/service/WebSocketServiceTest.java
  docs/guide/user.md
  docs/img/Choose_password.png
  docs/img/host_voting_option_preparePage.png
  frontend/src/assets/crown.png
  frontend/src/components/RoundedAvatar.vue
  frontend/src/components/SessionAdminCard.vue
  frontend/src/components/actions/SessionStartButton.vue
  frontend/src/constants.ts
  frontend/src/locales/en.json
  frontend/src/model/AdminVote.ts
  frontend/src/model/Session.ts
  frontend/src/store/index.ts
  frontend/src/types.ts
  frontend/src/views/JoinPage.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/PrepareSessionPage.vue
  frontend/src/views/SessionPage.vue
Labels: HACKTOBERFEST-ACCEPTED

#468 Fix: Title text of the cardsets on the prepare page is not centered correctly #467
  frontend/src/components/CardSetComponent.vue
Labels: hacktoberfest, HACKTOBERFEST-ACCEPTED

#469 Add feedback button and translation
  frontend/src/App.vue
  frontend/src/assets/variables.css
  frontend/src/components/FeedbackButton.vue
  frontend/src/locales/en.json
Labels: frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#483 Fix/456 build fail at forked projects
  .github/workflows/backend.yaml
  .github/workflows/frontend.yaml
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/variables.css
  frontend/src/components/FeedbackButton.vue
  frontend/src/components/SessionAdminCard.vue
  frontend/src/components/actions/SessionStartButton.vue
  frontend/src/model/AdminVote.ts
  frontend/src/store/index.ts
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/PrepareSessionPage.vue
  frontend/src/views/SessionPage.vue
Labels: deployment, hacktoberfest, HACKTOBERFEST-ACCEPTED

#495 Feedback bugfix
  frontend/src/components/FeedbackButton.vue
Labels: bug, frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#488 Improved Menubar
  frontend/src/App.vue
  frontend/src/assets/style/_variables.scss
  frontend/src/assets/style/main.scss
  frontend/src/components/CardSetComponent.vue
  frontend/src/components/LandingPageCard.vue
  frontend/src/components/ThemeToggleComponent.vue
  frontend/src/components/actions/ThemeToggle.vue
  frontend/src/components/navigation/LocaleDropdown.vue
  frontend/src/components/navigation/TopNavigationBar.vue
  frontend/src/main.ts
  frontend/src/views/LandingPage.vue
Labels: frontend, hacktoberfest, HACKTOBERFEST-ACCEPTED

#492 Simplify logging format to defaults
  backend/src/main/resources/logback-spring.xml
Labels: backend, hacktoberfest, HACKTOBERFEST-ACCEPTED
