Repository Sybit-Education/Diveni, pull requests merged in 2023-08, with the labels that each got.

#354 update spanish and italian translate 11072023
  frontend/src/locales/es.json
  frontend/src/locales/it.json
Labels: frontend

#388 JAVA LTS 11 -> LTS 17
  .github/workflows/backend.yaml
  backend/Dockerfile
  backend/build.gradle
  docs/guide/contribution.md
  docs/guide/develop.md
  docs/img/Java11_Installer_Selection.png
  docs/img/Java17_Installer_Selection.png
Labels: backend, deployment

#392 358 reconnect button freezes everything
  frontend/src/views/SessionPage.vue
Labels: bug, frontend

#387 #330 Diveni.io white page
  frontend/public/index.html
Labels: bug, deployment
