Repository Sybit-Education/Diveni, pull requests merged in 2024-03, with the labels that each got.

#665 improvement: mobile view Prepare Page
  frontend/src/components/CardSetComponent.vue
Labels: frontend

#673 FIX: Blank Screen Issue with newer compat/vue/compiler-sfc Versions #672
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/main.ts
  frontend/src/views/MemberVotePage.vue
Labels: frontend

#683 Implementation of Docker health checks
  backend/build.gradle
  docker-compose.dev.yml
  docker-compose.yml
  proxy/nginx.conf.template
Labels: feature request

#652 fix: Localization of Vote Sets
  frontend/src/components/CardSetComponent.vue
Labels: bug, frontend
