Repository Sybit-Education/Diveni, pull requests merged in 2024-02, with the labels that each got.

#639 Improved mobile view for member
  docs/guide/architecture.md
  frontend/src/components/MemberVoteCard.vue
  frontend/src/components/MobileStoryList.vue
  frontend/src/components/MobileStoryTitle.vue
  frontend/src/components/RoundedAvatar.vue
  frontend/src/components/actions/SessionLeaveButton.vue
  frontend/src/views/MemberVotePage.vue
Labels: frontend

#650 Fix: Avatar Animals change every round
  frontend/src/components/JoinPageCard.vue
  frontend/src/components/RoundedAvatar.vue
  frontend/src/model/Member.ts
  frontend/src/views/MemberVotePage.vue
  frontend/src/views/SessionPage.vue
Labels: bug, frontend

#525 Gitlab Connector
  backend/src/main/java/io/diveni/backend/controller/ConfigController.java
  backend/src/main/java/io/diveni/backend/controller/ProjectManagementController.java
  backend/src/main/java/io/diveni/backend/service/DatabaseService.java
  backend/src/main/java/io/diveni/backend/service/projectmanagementproviders/gitlab/GitlabService.java
  backend/src/test/java/io/diveni/backend/service/projectmanagementproviders/gitlab/GitlabServiceTest.java
  docs/guide/architecture.md
  docs/guide/install.md
  frontend/src/components/JiraComponent.vue
  frontend/src/components/SignInWithGitlabButtonComponent.vue
  frontend/src/locales/en.json
  frontend/src/services/api.service.ts
  frontend/src/store/index.ts
  frontend/src/views/PrepareSessionPage.vue
Labels: java, javascript, frontend, backend, feature request

#643 PWA Support
  docs/guide/architecture.md
  frontend/public/img/icons/logo192.png
  frontend/public/img/icons/logo512.png
  frontend/public/manifest.json
  frontend/src/components/DownloadPWAModal.vue
  frontend/src/locales/en.json
  frontend/src/views/LandingPage.vue
  frontend/vue.config.js
Labels: frontend

#663 fix: image overflow
  frontend/src/views/SessionPage.vue
Labels: bug, frontend

#608 SEO/Best Practices/Performance/Accessibility Issues
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/EstimateUserStories.png
  frontend/src/assets/InviteYourTeam.png
  frontend/src/assets/SetUpSession.png
  frontend/src/assets/style/main.scss
  frontend/src/components/CarouselComponent.vue
  frontend/src/components/navigation/LocaleDropdown.vue
  frontend/src/components/navigation/TopNavigationBar.vue
  frontend/src/views/LandingPage.vue
Labels: javascript, frontend, marketing
